@import 'Styles/vars.scss';

.item {
  padding: 16px 0;
  border-bottom: 1px solid #efefef;
}

.imgBox {
  width: 250px;
  height: 140px;
  overflow: hidden;
  margin-right: 16px;

  img {
    width: 100%;
  }
}

.right {
  width: calc(100% - 266px);
}

.title {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
}

.time {
  margin-bottom: 8px;
  font-size: 12px;
  color: #999;
}

.label {
  display: inline-block;
  // font-size: 12px;
  width: 80px;

  .value {
    color: #f93;
  }
}

.operationBox {
  width: 100%;

  .operations {
    color: $primary;

    > a {
      margin-left: 16px;
    }
  }
}
