.luckyDrawData {
  padding: 16px 0;
}

.dataItem {
  width: 240px;
  border: 1px solid #ddd;
  padding: 16px 24px;
  margin-right: 16px;

  .dataItemLabel {
    color: #999;
  }

  .dataItemValue {
    font-size: 28px;
    font-weight: bold;
  }
}
