.tableList {
  .tableSrc {
    color: rgb(250, 85, 28);
  }

  .tableDest {
    color: rgb(47, 83, 235);
  }

  .tableTime {
    color: rgb(0, 0, 51);
  }
}

.brainModule {
  display: flex;
  justify-content: space-between;
  border: 1px dashed #ccc;
  margin-top: 10px;
}
