:global(.flex) {
  display: flex;
}

:global(.spaceBetween) {
  display: flex;
  justify-content: space-between;
}

:global(.spaceAround) {
  display: flex;
  justify-content: space-around;
}

// 水平居中
:global(.vCenter) {
  display: flex;
  justify-content: center;
}

// 垂直居中
:global(.vCenter) {
  display: flex;
  align-items: center;
}

:global(.mb16) {
  margin-bottom: 16px;
}

:global(.mb32) {
  margin-bottom: 32px;
}

:global(.mt16) {
  margin-top: 16px;
}

:global(.mt32) {
  margin-top: 32px;
}

:global(.mr16) {
  margin-right: 16px;
}
