$primary: #5a97f4;
$light-primary: #93b8f0;
$dark-primary: #2c71d8;
$dark: #0c1215;
$gray: #212223;
$success: #52c41a;
$error: #f5222d;

$normal-margin: 16px;
$lg-margin: 24px;
$sm-margin: 8px;

%header-font {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
