.lotus {

  .operation {

    Button {
      margin-left: 10px;
    }
  }

  .heading {

    display: flex;
    justify-content: left;

    .imgBox {
      width: 250px;
      // height: 140px;
      overflow: hidden;
      margin-right: 16px;

      img {
        width: 100%;
      }
    }

    .title {
      font-size: 20px;
      font-weight: 700;
      margin-left: 20px;
    }
  }
}