.map {
  margin-top: -16px;

  .dateSelect {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border-radius: 7px;
    background: rgb(110, 107, 107);
  }

  .wrapper {
    padding-top: 3%;
    height: 100%;
  }
}