.header {
  position: fixed !important;
  z-index: 100 !important;
  display: flex;
  justify-content: space-between;
  vertical-align: center;
  width: calc(100% - 255px);
  height: 60px !important;
  padding: 0 20px !important;
  background: #fff !important;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);

  .headerActions {
    display: flex;
    justify-content: space-between;
    vertical-align: center;
  }

  .userWrapper {
    padding: 0 15px;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  
  .userWrapper:hover {
    background: #eee;
  }
  
  .userIcon {
    margin-right: 6px;
    padding: 3px;
    border: 1px solid #666;
    border-radius: 50%;
    font-size: 18px !important;
  }
  
  .username {
    position: relative;
    top: -3px;
  }
}
