.approve {

  .top {
    display: flex;
    justify-content: left;

    .imgBox {
      width: 250px;
      height: 140px;
      overflow: hidden;
      margin-right: 16px;

      img {
        width: 100%;
      }
    }
  }
}