.layoutWrapper {
  display: flex;
  justify-content: flex-start;
}

.layoutHeader {
  height: 60px !important;
  padding: 0 !important;
}

.sider {
  width: 255px !important;
  max-width: 255px !important;
  min-width: 255px !important;
  height: 100vh !important;
  overflow: auto !important;
  left: 0 !important;
  background: #fff !important;

  :global(.ant-layout-sider-children) {
    overflow-x: hidden;
  }
}

.content {
  // width: calc(100% - 30px);
  height: calc(100vh - 80px);
  padding: 15px;
  // overflow: initial !important;
}

.body {
  min-height: 100vh !important;
  // margin-left: 255px !important;
}
