.visual {

  .info {
    position: absolute;
    right: 15px;
    top: 112px;

    .infoVisual {
      padding: 10px 30px;
      width: 350px;
      background-color: #723bca;
      color: #fff;
      font-size: 18px;
      font-weight: 600;
    }
  }

  .pieLeft {
    width: 50%;
  }
}