.visual {

  .info {
    position: absolute;
    right: 15px;
    top: 112px;

    .infoVisual {
      padding: 10px 30px;
      width: 350px;
      background-color: #723bca;
      color: #fff;
      font-size: 18px;
      font-weight: 600;
    }
  }

  .top {
    display: flex;
    justify-content: space-between;
    .pieLeft {
      width: 50%;
    }
  }

  .line {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}